<form action="#" method="POST" id="{{ title }}">
    {% csrf_token %}
    <h4>Schedule a consultation</h4>

    <span class="orange-text">{{err}}</span>
    <div class="col s6">
        First Name
        <input type="text" name="fname" />
    </div>
    <div class="col s6">
        Last Name
        <input type="text" name="lname" />
    </div>
    <div class="col s12">
        Phone Number
        <input type="tel" name="tel" maxLength="16" />
    </div>
    <div class="col s12">
        Email
        <input type="email" name="email" />
    </div>
    <div class="col s6">
        Date
        <input type="date" name="date" />
    </div>
    <div class="col s6">
        Time
        <input type="time" name="time" />
        <br />
        <br />
    </div>
    <input type="hidden" value='myrealityequation.com' name="src" />
    <input type="hidden" value='submit' name="next" />
    <input type='hidden' value='{{ field_id }}' name='field_id'/>
    <input class="btn btn-block green" type="submit" name="type" />

</form>