{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="center">
    <a href="{% url 'home' %}">
        <img class="brand-logo"  src="{% static 'images/logo-lite.svg' %}"></a>
</div>
<div class="row">
    <div class="valign-wrapper" style="min-height: calc(100vh - 30vh);">
        <div class="col s12 m8 l6 offset-m2 offset-l3">
            <div class="valign">
                <h4 class="title white-text">{{ title }}</h4>
                <div id='form-card' class="card row grey darken-4">
                    <div class="card-content">
                        {% if type == 'Input' %}
                            <h4>input</h4>
                        {% elif type == 'Radio' %}
                            {% include 'form/elements/radio.html' %}
                        {% elif type == 'Checkbox' %}
                            {% include 'form/elements/checkbox.html' %}
                        {% elif type == 'Range' %}
                            {% include 'form/elements/range.html' %}
                        {% elif type == 'Contact' %}
                            {% include 'form/elements/contact.html' %}
                        {% endif %}
                        {% if meeting %}
                            <h4 class="green-text">Congratulations, {{meeting.fname}}.</h4>
                            <h5>Your meeting is scheduled for {{meeting.date}} at {{meeting.time}}</h5>
                            <br />
                            <a href='{% url "home" %}'>Return home</a>
                        {% elif errors %}
                            <h4 class="orange-text">There was an error processing your request.</h4>
                            {% if 'form' in errors %}
                            <h6 class="orange-text">Form Errors:</h6>
                            {% for e in errors.form.items %}
                            <p class="orange-text">{{e.0}}: {{e.1.0}}</p>
                            {% endfor %}
                            {% endif %}
                            {% if 'lead' in errors %}
                            <h6 class="orange-text">Contact Errors:</h6>

                            {% for e in errors.lead.items %}
                            <p class="orange-text">{{e.0}}: {{e.1.0}}</p>
                            {% endfor %}
                            {% endif %}
                            <small>If this continues to persist please contact: dev@deepturn.com</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}