{% load static %}

<form action="#" method="POST">

  {% csrf_token %}
  {% for choice in choices %}
      <label class="center-align">
        <input name='{{choice}}' type="checkbox" />
        <span>{{choice}}</span>
      </label>
    {% endfor %}
    <input type='hidden' value='checkbox' name='type'/>
    <input type='hidden' value='{{ fid }}' name='fid'/>
    <input type='hidden' value='{{next}}' name='next'/>
        <br/>
        <hr/>
        <br/>
    <input class="btn btn-block green" type="submit" value="Next"> 
  </form>