<form action="#" method="POST" id="{{ title }}">
    {% csrf_token %}
    <h5 id="range-info"></h5>
    <p class="range-field">
      <input id="range" type="range" onchange="rangeHandler()" min="{{choices.0}}" max="{{choices.1}}" name="value"/>
    </p>
    <input type='hidden' value='{{ fid }}' name='fid'/>
    <input type='hidden' value='range' name='type'/>
    <input type='hidden' value='{{next}}' name='next'/>
    <div class="break"></div>
    <input class="btn btn-block submit" type="submit" value="Next"> 

  </form>